<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Bookings Dashboard</title>
</head>
<body>
<h1>      Bookings dashboard   </h1>

<table class="table  table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">PASSENGER NAME 1</th>
      <th scope="col">AGE</th>
      <th scope="col">GENDER</th>
      <th scope="col">PASSENGER NAME 2</th>
      <th scope="col">AGE</th>
      <th scope="col">GENDER</th>
      <th scope="col">PASSENGER NAME 3</th>
      <th scope="col">AGE</th>
      <th scope="col">GENDER</th>
      <th scope="col">PASSENGER NAME 4</th>
      <th scope="col">AGE</th>
      <th scope="col">GENDER</th>
      <th scope="col">FROM</th>
      <th scope="col">TO</th>
      <th scope="col">DATE</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="bookings :${bookings}">
      
      <td th:text="${bookings.id}"></td>
      <td th:text="${bookings.passenger1}"></td>
      <td th:text="${bookings.age}"></td>
      <td th:text="${bookings.gender}"></td>
      <td th:text="${bookings.passenger2}"></td>
      <td th:text="${bookings.age}"></td>
      <td th:text="${bookings.gender}"></td>
      <td th:text="${bookings.passenger3}"></td>
      <td th:text="${bookings.age}"></td>
      <td th:text="${bookings.gender}"></td>
      <td th:text="${bookings.passenger4}"></td>
      <td th:text="${bookings.age}"></td>
      <td th:text="${bookings.gender}"></td>
      <td th:text="${bookings.from}"></td>
      <td th:text="${bookings.to}"></td>
      <td th:text="${bookings.date}"></td>
    </tr>
  </tbody>
</table>
</body>
</html>