<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.uikit.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<title>Bookings Dashboard</title>
</head>
<body>
<h1 align="center"><b>Bookings dashboard</b></h1>

<table class="table  table-bordered table-hover" id="bookingtable">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">PASSENGER NAME 1</th>
      <th scope="col">AGE</th>
      <th scope="col">GENDER</th>
      <th scope="col">PASSENGER NAME 2</th>
      <th scope="col">AGE</th>
      <th scope="col">GENDER</th>
      <th scope="col">PASSENGER NAME 3</th>
      <th scope="col">AGE</th>
      <th scope="col">GENDER</th>
      <th scope="col">PASSENGER NAME 4</th>
      <th scope="col">AGE</th>
      <th scope="col">GENDER</th>
      <th scope="col">FROM</th>
      <th scope="col">TO</th>
      <th scope="col">DATE</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="bookings :${bookings}">
      
      <td th:text="${bookings.id}"></td>
      <td th:text="${bookings.passenger1}"></td>
      <td th:text="${bookings.age1}"></td>
      <td th:text="${bookings.gender1}"></td>
      <td th:text="${bookings.passenger2}"></td>
      <td th:text="${bookings.age2}"></td>
      <td th:text="${bookings.gender2}"></td>
      <td th:text="${bookings.passenger3}"></td>
      <td th:text="${bookings.age3}"></td>
      <td th:text="${bookings.gender3}"></td>
      <td th:text="${bookings.passenger4}"></td>
      <td th:text="${bookings.age4}"></td>
      <td th:text="${bookings.gender4}"></td>
      <td th:text="${bookings.fromplace}"></td>
      <td th:text="${bookings.toplace}"></td>
      <td th:text="${bookings.sdate}"></td>
    </tr>
  </tbody>
</table>
	<script >
		$(document).ready(function(){
		 $('#bookingtable').dataTable();
		});
	</script>
</body>
</html>