<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Users DashBoard</title>
</head>
<body>
<h2>List of Users</h2>

<a>Sort</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>S.No</th>
      <th>FullName</th>
 
      <th>Email</th>
      
     
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="register :${register}">
      <td th:text="${register.id}"></td>
      <td th:text="${register.fullname}"></td>
      
      <td th:text="${register.email}"></td>
     
    
      <td th:text="${register.gender}"></td>
   </tr>
  </tbody>
</table>
<a th:href="@{/register}">Register</a>
</body>
</html>