<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Train Ticket Reservation</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="tcktbooking.css">
		
	
</head>
<body>
	<div class="container">
		<h1>Train Ticket Reservation</h1>
		
		<form th:action="@{/booking}" method="post" th:object="${bookings}">
			<div class="form-group">
				<label for="from">From</label>
				<input type="text" id="from" name="from" required th:field=*{fromplace}>
			</div>
			<div class="form-group">
				<label for="to">To</label>
				<input type="text" id="to" name="to" required th:field=*{toplace}>
			</div>
			<div class="form-group">
				<label for="date">Date</label>
				<input type="date" id="date" name="date" required th:field=*{sdate}>
			</div>
			<div class="form-group">
			    <label for="passenger-count">Number of Passengers:</label>
			    <select id="passenger-count" name="passenger-count" th:field="*{passengercount}" onchange="generatePassengerDetailsForm()">
			        <option value="1">1</option>
			        <option value="2">2</option>
			        <option value="3">3</option>
			        <option value="4">4</option>
			    </select>
			
			    <div id="passenger-details-form"></div>
			
			    <input type="submit" value="Book"/>
			 </div>
	   </form>
</div>

			<script>
			function generatePassengerDetailsForm() {
			    var passengerCount = document.getElementById("passenger-count").value;
			    var passengerDetailsForm = document.getElementById("passenger-details-form");

			    // Clear existing form fields
			    passengerDetailsForm.innerHTML = "";

			    // Generate new form fields based on passenger count
			    for (var i = 1; i <= passengerCount; i++) {
			        // Create passenger name field
			        var passengerDiv = document.createElement("div");
    				passengerDiv.classList.add("form-group");
			        var passengerNameLabel = document.createElement("label");
			        passengerNameLabel.setAttribute("for", "passenger" + i);
			        passengerNameLabel.textContent = "Passenger " + i;

			        var passengerNameInput = document.createElement("input");
			        passengerNameInput.setAttribute("type", "text");
			        passengerNameInput.setAttribute("id", "passenger" + i);
			        passengerNameInput.setAttribute("name", "passenger" + i);
			        passengerNameInput.setAttribute("required", true);
			        passengerNameInput.setAttribute("th:field", "*{passenger" + i + "}");

			        // Create passenger age field
			        var passengerAgeLabel = document.createElement("label");
			        passengerAgeLabel.setAttribute("for", "age" + i);
			        passengerAgeLabel.textContent = "Age";

			        var passengerAgeInput = document.createElement("input");
			        passengerAgeInput.setAttribute("type", "text");
			        passengerAgeInput.setAttribute("id", "age" + i);
			        passengerAgeInput.setAttribute("name", "age" + i);
			        passengerAgeInput.setAttribute("required", true);
			        passengerAgeInput.setAttribute("th:field", "*{age" + i + "}");

			        // Create passenger gender field
			        var passengerGenderLabel = document.createElement("span");
			        passengerGenderLabel.setAttribute("class", "gender-title");
			        passengerGenderLabel.setAttribute("th:field", "*{gender" + i + "}");
			        passengerGenderLabel.textContent = "Gender";

			        var passengerGenderCategory = document.createElement("div");
			        passengerGenderCategory.setAttribute("class", "gender-category");

			        var maleInput = document.createElement("input");
			        maleInput.setAttribute("type", "radio");
			        maleInput.setAttribute("name", "gender" + i);
			        maleInput.setAttribute("id", "male" + i);
			        maleInput.setAttribute("value", "male");
			        maleInput.setAttribute("required", true);

			        var maleLabel = document.createElement("label");
			        maleLabel.setAttribute("for", "male" + i);
			        maleLabel.textContent = "Male";

			        var femaleInput = document.createElement("input");
			        femaleInput.setAttribute("type", "radio");
			        femaleInput.setAttribute("name", "gender" + i);
			        femaleInput.setAttribute("id", "female" + i);
			        femaleInput.setAttribute("value", "female");

			        var femaleLabel = document.createElement("label");
			        femaleLabel.setAttribute("for", "female" + i);
			        femaleLabel.textContent = "Female";

			        var otherInput = document.createElement("input");
			        OtherInput.setAttribute("type", "radio");
			        OtherInput.setAttribute("name", "gender" + i);
			        OtherInput.setAttribute("id", "other" + i);
			        OtherInput.setAttribute("value", "other");

			        var otherLabel = document.createElement("label");
			        otherLabel.setAttribute("for", "other" + i);
			        otherLabel.textContent = "Other";
			        
			        passengerGenderCategory.appendChild(maleInput);
			        passengerGenderCategory.appendChild(maleLabel);
			        passengerGenderCategory.appendChild(femaleInput);
			        passengerGenderCategory.appendChild(femaleLabel);
			        passengerGenderCategory.appendChild(otherInput);
			        passengerGenderCategory.appendChild(otherLabel);

			        passengerDiv.appendChild(passengerNameLabel);
			        passengerDiv.appendChild(passengerNameInput);
			        passengerDiv.appendChild(passengerAgeLabel);
			        passengerDiv.appendChild(passengerAgeInput);
			        passengerDiv.appendChild(passengerGenderLabel);
			        passengerDiv.appendChild(passengerGenderCategory);

			        passengerDetailsForm.appendChild(passengerDiv);
			      }
			    }
			
			</script>
		
    </body>
</html>
